<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>title</key>
			<string>校长办公室</string>
			<key>number</key>
			<string>0834-2580029</string>
		</dict>
		<dict>
			<key>title</key>
			<string>教务处</string>
			<key>number</key>
			<string>0834-2580028</string>
		</dict>
		<dict>
			<key>title</key>
			<string>学生处</string>
			<key>number</key>
			<string>0834-2580027</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>班主任王老师</string>
			<key>number</key>
			<string>19923467894</string>
		</dict>
		<dict>
			<key>title</key>
			<string>数学柳老师</string>
			<key>number</key>
			<string>13552745897</string>
		</dict>
		<dict>
			<key>title</key>
			<string>英语曾老师</string>
			<key>number</key>
			<string>15156645577</string>
		</dict>
		<dict>
			<key>title</key>
			<string>物理李老师</string>
			<key>number</key>
			<string>13184497511</string>
		</dict>
		<dict>
			<key>title</key>
			<string>化学田老师</string>
			<key>number</key>
			<string>15186647855</string>
		</dict>
		<dict>
			<key>title</key>
			<string>生物陈老师</string>
			<key>number</key>
			<string>15824490533</string>
		</dict>
		<dict>
			<key>title</key>
			<string>美术欧阳老师</string>
			<key>number</key>
			<string>15714489455</string>
		</dict>
		<dict>
			<key>title</key>
			<string>计算机梨老师</string>
			<key>number</key>
			<string>19934569872</string>
		</dict>
	</array>
</array>
</plist>
